<html>
    <head>
        <title>Login</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <link href="/assets/login.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/assets/login.js"></script>
    </head>
    <body>
        <div class="container">
            <section id="content">
                <form action="">
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" placeholder="Username" required="" id="username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" id="password" />
                    </div>
                    <div>
                        <input type="submit" value="Log in" />
                        <a href="#">Lost your password?</a>
                        <a href="#">Register</a>
                    </div>
                </form><!-- form -->
                <div class="button">
                    <a href="#">Download source file</a>
                </div><!-- button -->
            </section><!-- content -->
        </div><!-- container -->
    </body>
</html>